*{
	padding: 0px;
	margin: 0px;
}
.container{
	padding: 5px;
	margin: 5px;
}

.line{
	position: relative;
	top:25px;
	left: 5px;
	width: 17%;
	height: 4px;
	background-color: #b3b3b3;
	border: none;
	z-index: -5;
}

.ball{
	height: 25px;
	width: 25px;
	background-color: #99cc00;
	border-radius: 50%;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	color: white;
	text-align: center;
	vertical-align:middle;
}

.circle_text
{
	text-align : center;
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}

.selected-ball{
	background-color: #bf00ff;
}

.disabled-ball{
	background-color: #b3b3b3;
}